@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#time {
    display: flex;
    gap: 40px;
    color: whitesmoke;
    flex-wrap: wrap; /* Ensure circles wrap on smaller screens */
    justify-content: center;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time .ap {
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}

.dots {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.dots::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    top: -3px;
    box-shadow: 0 0 20px var(--clr);
}

#time div span {
    position: relative;
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: translateX(-50px) translateY(-10px);
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 0 10px;
}

.buttons button:hover {
    background-color: #0056b3 ;
}
